body {
    background-color: #7f2121;
    font-family: "Bona Nova SC", serif;
    padding: 20px;
    text-align: center;
}


header img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 20px;
    
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

section {
    border-radius: 50px ;
    background-color: #d2bfb0;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 12px -2px rgb(2, 254, 98);
}

h1, h2, h3 {
    color: #333;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 20px;
}

.duration {
    font-size: 14px;
    color: #666;
}

.skillbar {
    width: 80%;
    height: 20px;
    background-color: #ddd;
    border-radius: 10px;
    padding: 10px;
}

.progress {
    width: 80%;
    height: 20px;
    background-color: violet;
}

.progress {
    width: 80%;
    height: 20px;
    background-color: #4CAF50;
    border-radius: 10px;
    padding: 10px;
}

.collapsible-button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 0px 12px -2px rgb(111, 255, 0);
}

.collapsible-button:hover {
    background-color: #3e8e41;
}

.collapsible-content {
    padding: 20px;
    display: none;
}

.collapsible-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.collapsible-content li {
    margin-bottom: 20px;
}

.button-link {
    padding: 5px 42px;
    border-radius: 10px;
    background: #4CAF50;;
    color: #ffffff;
    font-size: 16px;
    box-shadow: 0px 0px 12px -2px rgb(111, 255, 0);
  
}

.sign-wrap-1 {
    text-align: center;
    padding: 60px 20px;
}
.sign-wrap-1 .sign_word {
    font-size: 40px;
    font-weight: bold;
    line-height: 50px;
    color: #333;;
    font-family: "Bona Nova SC", serif;
    
    animation: neon-1 .2s ease-in-out infinite alternate;
}
@keyframes neon-1 {
    from {
        text-shadow: 0 0 6px rgba(250, 250, 250, 0.92), 0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px rgba(191, 226, 255, 0.52), 0 0 21px rgba(191, 226, 255, 0.92), 0 0 34px rgba(191, 226, 255, 0.78), 0 0 54px rgba(191, 226, 255, 0.92);
    }
    to {
        text-shadow: 0 0 6px rgba(13, 189, 31, 0.98), 0 0 30px rgba(202, 228, 225, 0.42), 0 0 12px rgba(191, 226, 255, 0.58), 0 0 22px rgba(191, 226, 255, 0.84), 0 0 38px rgba(191, 226, 255, 0.88), 0 0 60px #FFF;
    }
}

